*{
  margin: 0;
  padding: 0;
}

body{
  background-color: white;
  color: slategray;
  font-family: 'Raleway', sans-serif;
}

.container{
  margin-top: 25px;
}

h1{
  font-family: 'Libre Baskerville', serif;
  margin-top: 5px;
}

p,a{
  font-size: 18px;
}

.center-parent{
  margin:0 auto;
}

.center{
  text-align: center;
}

.project-square{
  background-color: lightgrey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 3px solid whitesmoke;
  border-radius: 5px;
  color: black;
  display: inline-block;
  font-size: 16px;
  height: 150px;
  margin: 5px;
  width: 150px;
}

.hover-content{
  background-color: white;
  display: none;
  height: 150px;
  opacity: .9;
  padding: 5px;
  width: 150px;
}

.hover-content hr{
  margin-top: 5px;
  margin-bottom: 5px;
}

.project-square:hover .hover-content{
  display: block;
}

#portrait{
  background-image: url(../styles/images/portraitKeith3.jpg);
  height: 300px;
  width: 300px;
}

#murmuration{
  background-image: url(../styles/images/murmuration.png);
}

#recovree{
  background-image: url(../styles/images/recovree.jpg);
}

#omdb{
  background-image: url(../styles/images/omdb.png);
}

#icons{
  background-color: white;
  z-index: 5;
}

#icons hr{
  margin-top: 5px;
}

.icon-div{
  display: inline-block;
  margin: 10px;
  margin-top: 0;
}

.fa-linkedin-square{
  color: #0077B5;
}

.fa-github-square{
  color: #333;
}

.fa-codepen{
  color: #333;
}

.fa-envelope{
  color: #c71610;
}
