*{
  margin: 0;
  padding: 0;
}

body{
  background-color: white;
  color: slategray;
  font-family: 'Raleway', sans-serif;
}

.container{
  margin-top: 25px;
}

h1{
  font-size: 28px;
  margin-top: 5px;
  margin-bottom: 5px;
}

h2{
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}

ul{
  list-style: none;
}

#bioHeader{
  font-family: 'Raleway', serif;
}

#bioBody{
  font-family: 'Raleway', sans-serif;
}

#murmurationHeader{
  font-family: 'Raleway', sans-serif;
}

#murmurationBody{
  font-family: 'News Cycle', sans-serif;
}

#recovreeHeader{
font-family: 'Lato', sans-serif;
}

#recovreeBody{
  font-family: 'Questrial', serif;
}

#omdbHeader{
  font-family: 'Open Sans', serif;
}

#omdbBody{
  font-family: 'Oswald', serif;
}

#projectHeader{
  font-family: 'Raleway', serif;
}

p,a{
  font-size: 14px;
}

.center-parent{
  margin:0 auto;
}

.center{
  text-align: center;
}

.project-square{
  background-color: lightgrey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 3px solid whitesmoke;
  border-radius: 5px;
  color: black;
  display: inline-block;
  font-size: 16px;
  height: 150px;
  margin: 5px;
  width: 150px;
}

.project-square-large{
  height: 250px;
  width: 250px;
}

.project-square-selected{
  border: 3px solid rgb(240, 155, 28);
}

#portrait{
  background-image: url(../styles/images/portraitKeith6.jpg);
}

#murmuration{
  background-image: url(../styles/images/murmuration.png);
}

#recovree{
  background-image: url(../styles/images/recovree.jpg);
}

#omdb{
  background-image: url(../styles/images/omdb.png);
}

#icons{
  background-color: white;
  z-index: 5;
}

#icons hr{
  margin-top: 5px;
}

.icon-div{
  display: inline-block;
  margin: 10px;
  margin-top: 0;
}

.fa-linkedin-square{
  color: #0077B5;
}

.fa-github-square{
  color: #333;
}

.fa-codepen{
  color: #333;
}

.fa-envelope{
  color: #c71610;
}
