*{
  margin: 0;
  padding: 0;
}

body{
    /*margin: 0 auto;*/
    text-align: center;
    background-color: grey;
}

/*#backgroundImage{
  background-image: url(images/blueBackground.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto;
  width: auto;
  height: 100%;
  text-align: center;
}*/

.wrapper{
  background-color: antiquewhite;
  margin: 25px auto;
  height: 100%;
  max-width: 600px;
}

.nav-squares{
  display: inline-block;

}

.a-box{
  display: inline-block;
  height: 250px;
  margin: 5px;
  width: 250px;
}

.red{
  background-color: red;
}

.green{
  background-color: green;
}
/*
.portrait{
  margin: 25px auto;
  height: 250px;
  width: 250px;
  background-color: whitesmoke;
  border: 3px solid black;
  border-radius: 5px;
  background-image: url(images/portraitKeith2.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.name{
  font-family: 'Poppins', sans-serif;
}*/
