<div class = 'container'>

        <div class = 'row'>
          <div class = 'row'>
            <div class = 'col-md-offset-1 col-md-11'>
              <a href="#!/home">
                  <h1 id = "bioHeader" class =  'hidden-xs' >Keith B. Tomlinson</h1>
                  <h1 id = "bioHeader" class =  'visible-xs' >K. B. Tomlinson</h1>
              </a>
            </div>
          </div>

          <div class = 'col-md-offset-1 col-md-3'>
            <div class='row'>
              <div id='portrait' class='project-square project-square-large'>
                  <span>
                  </span>
              </div>
            </div>
          </div>

          <div class = 'col-md-offset-1 col-md-6'>
                <div id = "bioBody">
                  <br />
                  <p>
                    Howdy, I'm Keith. I'm a software engineer.
                  </p>
                  <p>
                    Using the power of technology to assist in learning, problem solving, and creating, has been a passion of mine since I first discovered both Oregon Trail and the Logo programming language at a young age.
                  </p>
                  <p>
                    I'm a believer in the power of doing good work and being kind, collaborative, and useful.
                  </p>
                  <p>
                    I love birds more than I know how to articulate.
                  </p>
                </div>
          </div>
    </div>

    <div class = 'row'>

            <div class='col-md-offset-1 col-md-2 center'>
                <!-- <a href="https://murmuration.herokuapp.com/"> -->
                    <div id='projects' class='project-square center'>
                    </div>
                <!-- </a> -->
            </div>

            <div class='col-md-2 center'>
                <a href="https://murmuration.herokuapp.com/">
                    <div id='murmuration' class='project-square center'>
                    </div>
                </a>
            </div>

            <div class='col-md-2 center'>
              <a href="#!/project-2">
                <a href="https://recovree.herokuapp.com/" target = "_blank">
                    <div id='recovree' class='project-square center'>
                    </div>
                </a>
            </div>

            <div class='col-md-2 center'>
              <a href="#!/project-3">
                <a href="https://keithlovesmovies.herokuapp.com/" target = "_blank">
                    <div id='omdb' class='project-square center'>
                    </div>
                </a>
            </div>

            <div class='col-md-2 center'>
              <a href="#!/project-3">
                <a href="https://still-sands-45739.herokuapp.com/" target = "_blank">
                    <div id='realty' class='project-square center'>
                    </div>
                </a>
            </div>

    </div>


    <div id = 'icons' class = 'row center navbar-fixed-bottom'>
          <hr />
          <div class = "icon-div">
            <a href = "https://www.linkedin.com/in/keith-b-tomlinson/" target = "_blank">
              <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
            </a>
          </div>
          <div class = "icon-div">
            <a href = "https://github.com/KBarrettTomlinson" target = "_blank">
              <i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
            </a>
          </div>
          <div class = "icon-div">
            <a href = "https://codepen.io/kbarretttomlinson/" target = "_blank">
              <i class="fa fa-codepen fa-2x" aria-hidden="true"></i>
            </a>
          </div>
          <div class = "icon-div">
            <a href = "mailto:kBarrettTomlinson@gmail.com">
              <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
            </a>
          </div>
    </div>

</div>
