<div class = 'container'>

    <div class = 'row'>
      <div class = 'col-md-8'>
        <div class = 'row'>

          <div class = 'col-md-6'>
            <div class='row center'>
                <!-- <a href="https://www.instagram.com/m.ng.art90/" target = "_blank"> -->
                    <div id='portrait' class='center project-square project-square-large'>
                        <span>
                        </span>
                    </div>
                <!-- </a> -->
            </div>
          </div>

          <div class = 'col-md-6'>
                <h1 id = "bioHeader" class =  'hidden-xs' >Keith B. Tomlinson</h1>
                <h1 id = "bioHeader" class =  'visible-xs' >K. B. Tomlinson</h1>
                <br />
                <div id = "bioBody">
                  <p>
                    Howdy, I'm Keith. I'm a software engineer. I'm full of curiosity.
                  </p>
                  <p>
                    Using the power of technology to assist in learning, problem solving, and creating, has been a passion of mine since I first discovered both Oregon Trail and the Logo programming language at a young age.
                  </p>
                  <p>
                    In college I studied math and I'm currently learning Swedish.
                  </p>
                  <p>
                    I love birds more than I know how to articulate.
                  </p>
                  <p>
                    I'm a believer in the power of doing good work and being kind, collaborative, and useful.
                  </p>
                  <p>
                    Click around to learn more about some things I've created.
                  </p>
                  <p>
                    Down below, you can find me elsewhere on the web.
                  </p>
                </div>
          </div>

        </div>
      </div>

      <div class='col-md-offset-1 col-md-3'>

          <div class='row center'>
              <a href="#!/project-1">
                  <div id='murmuration' class='project-square center'>
                  </div>
              </a>
          </div>

          <div class='row center'>
            <a href="#!/project-2">
              <!-- <a href="https://recovree.herokuapp.com/" target = "_blank"> -->
                  <div id='recovree' class='project-square center'>
                  </div>
              </a>
          </div>

          <div class='row center'>
            <a href="#!/project-3">
              <!-- <a href="https://keithlovesmovies.herokuapp.com/" target = "_blank"> -->
                  <div id='omdb' class='project-square center'>
                  </div>
              </a>
          </div>

      </div>

    </div>
    <div id = 'icons' class = 'row center navbar-fixed-bottom'>
          <hr />
          <div class = "icon-div">
            <a href = "https://www.linkedin.com/in/keith-b-tomlinson/" target = "_blank">
              <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
            </a>
          </div>
          <div class = "icon-div">
            <a href = "https://github.com/KBarrettTomlinson" target = "_blank">
              <i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
            </a>
          </div>
          <div class = "icon-div">
            <a href = "https://codepen.io/kbarretttomlinson/" target = "_blank">
              <i class="fa fa-codepen fa-2x" aria-hidden="true"></i>
            </a>
          </div>
          <div class = "icon-div">
            <a href = "mailto:kBarrettTomlinson@gmail.com">
              <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
            </a>
          </div>
    </div>

</div>
