<div class = 'container'>

    <div class = 'row'>

      <div class = 'col-md-9'>
        <div class = 'row'>
          <div  class = 'col-md-offset-2 col-md-8'>
            <div  class = 'row center'>
              <h1 class =  'hidden-xs' >Keith B. Tomlinson</h1>
              <h1 class =  'visible-xs' >K. B. Tomlinson</h1>
            </div>
            <div class = 'row center'>
              <img id = "portrait" class = 'row img-fluid' src="../styles/images/portraitKeith3.jpg">
            </div>
          </div>
        </div>
        <div class = 'row'>
          <div class = 'col-md-offset-2 col-md-8'>
            <br>
            <p>
              I'm a believer in the power of doing good work and being kind, collaborative, and useful.
            </p>
            <p>
              Using the power of technology to assist in learning, problem solving, and creating, has been a passion of mine since I first discovered Oregon Trail and the Logo programming language.
            </p>
            <p>
              I'm currently studying Swedish and I love birds more than I know how to articulate.
            </p>
          </div>
        </div>
        <div id = 'icons' class = 'row center'>
            <div class = 'col-md-offset-2 col-md-2'>
              linkedIn
            </div>
            <div class = 'col-md-2'>
              github
            </div>
            <div class = 'col-md-2'>
              codePen
            </div>
            <div class = 'col-md-2'>
              mail
            </div>
        </div>
      </div>

      <div class = 'col-md-3'>
        <div class = 'row'>
          <div class = 'project-square center'>
            <a class = 'text-center' href="#!/project-1">Project 1</a>
          </div>
        </div>
        <div class = 'row'>
          <div class = 'project-square center'>
            <a href="#!/project-2">Project 2</a>
          </div>
        </div>
        <div class = 'row'>
          <div class = 'project-square center'>
            <a href="#!/project-3">Project 3</a>
          </div>
        </div>
        <div class = 'row'>
          <div class = 'project-square center'>
            <a href="#!/project-4">Project 4</a>
          </div>
        </div>
      </div>

    </div>

</div>
