<div class = 'container'>

    <div class = 'row'>

      <div class = 'col-md-8'>
        <div class = 'row'>

          <div class = 'col-md-6'>
            <div class='row center'>
                <a href="#!/home">
                    <div id='murmuration' class='center project-square project-square-large'>
                        <span>
                        </span>
                    </div>
                </a>
            </div>
          </div>

          <div class = 'col-md-6'>
                <h1 id = "murmurationHeader" class =  'hidden-xs' >Murmuration</h1>
                <br />
                <div id = "murmurationBody">
                  <p>
                    The Table Topics Practice App is a full-stack web application which facilitates groups in practicing off the cuff responses to themed questions in a low stakes and supportive environment.
                  </p>
                  <p>
                    Easy to establish table topics style sessions with a database of themes and questions, participants can easily join via their phone while the app chooses speakers and questions at random. The app provides visual feedback indicating the length of time each participant has spoken, as well as the overall success of the group.
                  </p>
                  <a href="https://murmuration.herokuapp.com" target = "_blank">Murmuration: A Table Topics Practice Group</a>
                  <br />
                  <br />
                  <span><em>Technologies Used</em></span>
                  <ul>
                    <li>MEAN Stack</li>
                    <li>Passport</li>
                    <li>Socket.io</li>
                    <li>Bootstrap</li>
                  </ul>

                </div>
          </div>

        </div>
      </div>

      <div class='col-md-offset-1 col-md-3'>

          <div class='row center'>
              <a href="#!/project-1">
                  <div id='murmuration' class='project-square project-square-selected center'>
                  </div>
              </a>
          </div>

          <div class='row center'>
            <a href="#!/project-2">
                  <div id='recovree' class='project-square center'>
                  </div>
              </a>
          </div>

          <div class='row center'>
            <a href="#!/project-3">
                  <div id='omdb' class='project-square center'>
                  </div>
              </a>
          </div>

      </div>

    </div>
    <div id = 'icons' class = 'row center navbar-fixed-bottom'>
          <hr />
          <div class = "icon-div">
            <a href = "https://www.linkedin.com/in/keith-b-tomlinson/" target = "_blank">
              <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
            </a>
          </div>
          <div class = "icon-div">
            <a href = "https://github.com/KBarrettTomlinson" target = "_blank">
              <i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
            </a>
          </div>
          <div class = "icon-div">
            <a href = "https://codepen.io/kbarretttomlinson/" target = "_blank">
              <i class="fa fa-codepen fa-2x" aria-hidden="true"></i>
            </a>
          </div>
          <div class = "icon-div">
            <a href = "mailto:kBarrettTomlinson@gmail.com">
              <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
            </a>
          </div>
    </div>

</div>
