<div class = 'container'>

    <div class = 'row'>

          <div class = 'col-md-8'>
            <div class = 'row'>
              <div classs = 'col-md-12'>
                <a href = '#/home'>
                  <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                  <span>Return Home</span>
                </a>
              </div>
            </div>
            <div class='row center'>
              <div class = 'col-md-12 hidden-xs'>
                <a href="https://recovree.herokuapp.com" target = "_blank">
                      <div id='recovreeGif' class='center project-square project-square-gif'>
                          <span>
                          </span>
                      </div>
                  </a>
              </div>
              <div class = 'col-md-12 visible-xs'>
                <a href="https://recovree.herokuapp.com" target = "_blank">
                      <div id='recovree' class='center project-square project-square-large'>
                          <span>
                          </span>
                      </div>
                  </a>
              </div>
            </div>
          </div>

          <div class = 'col-md-4'>
            <h1 id = "recovreeHeader" class =  'hidden-xs' >RECOVREE</h1>
            <br />
            <div id = "recovreeBody">
              <p>
                Recovree is a full-stack web application which utilizes technology to support addiction treatment  and aftercare. It was a four person team project.
              </p>
              <p>
                Composed of a daily survey, data visualization, SMS reminders and alerts, and administrative access to anonymized aggregated data, Recovree aims to ease the abrupt transition which typically follows treatment.
              </p>
            <a href="https://recovree.herokuapp.com" target = "_blank">click here to launch Recovree</a>
              <br />
              <br />
              <span><em>Technologies Used</em></span>
              <ul>
                <li>MEAN Stack</li>
                <li>Passport</li>
                <li>Angular Material</li>
                <li>Node Mailer</li>
                <li>ChartJS</li>
                <li>Twilio</li>
              </ul>

            </div>
          </div>

    </div>
    <div id = 'icons' class = 'row center navbar-fixed-bottom'>
          <hr />
          <div class = "icon-div">
            <a href = "https://www.linkedin.com/in/keith-b-tomlinson/" target = "_blank">
              <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
            </a>
          </div>
          <div class = "icon-div">
            <a href = "https://github.com/KBarrettTomlinson" target = "_blank">
              <i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
            </a>
          </div>
          <div class = "icon-div">
            <a href = "https://codepen.io/kbarretttomlinson/" target = "_blank">
              <i class="fa fa-codepen fa-2x" aria-hidden="true"></i>
            </a>
          </div>
          <div class = "icon-div">
            <a href = "mailto:kBarrettTomlinson@gmail.com">
              <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
            </a>
          </div>
    </div>

</div>
