<div class = 'container'>

    <div class = 'row'>

          <div class = 'col-md-8'>
            <div class = 'row'>
              <div classs = 'col-md-12'>
                <a href = '#/home'>
                  <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                  <span>Return Home</span>
                </a>
              </div>
            </div>
            <div class='row center'>
              <div class = 'col-md-12 hidden-xs'>
                <a href="https://still-sands-45739.herokuapp.com/" target = "_blank">
                      <div id='realtyGif' class='center project-square project-square-gif'>
                          <span>
                          </span>
                      </div>
                  </a>
              </div>
              <div class = 'col-md-12 visible-xs'>
                <a href="https://still-sands-45739.herokuapp.com/" target = "_blank">
                      <div id='realty' class='center project-square project-square-large'>
                          <span>
                          </span>
                      </div>
                  </a>
              </div>
            </div>
          </div>

          <div class = 'col-md-4'>
            <h1 id = "realtyHeader" class =  'hidden-xs' >K. Barrett Realty</h1>
            <br />
            <div id = "realtyBody">
              <p>
                The fourth weekend challenge of Tier Two at Prime Digital Academy. jQuery, MongoDB, Express, and NodeJS project, pulling data from a Mongo database and displaying it to the DOM organizing it based on server side data.
              </p>
            <a href="https://still-sands-45739.herokuapp.com/" target = "_blank">click here to launch K. Barrett Realty</a>
              <br />
              <br />
              <span><em>Technologies Used</em></span>
              <ul>
                <li>jQuery</li>
                <li>MongoDB</li>
                <li>Node.js</li>
                <li>Bootstrap</li>
              </ul>

            </div>
          </div>

    </div>
    <div id = 'icons' class = 'row center navbar-fixed-bottom'>
          <hr />
          <div class = "icon-div">
            <a href = "https://www.linkedin.com/in/keith-b-tomlinson/" target = "_blank">
              <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
            </a>
          </div>
          <div class = "icon-div">
            <a href = "https://github.com/KBarrettTomlinson" target = "_blank">
              <i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
            </a>
          </div>
          <div class = "icon-div">
            <a href = "https://codepen.io/kbarretttomlinson/" target = "_blank">
              <i class="fa fa-codepen fa-2x" aria-hidden="true"></i>
            </a>
          </div>
          <div class = "icon-div">
            <a href = "mailto:kBarrettTomlinson@gmail.com">
              <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
            </a>
          </div>
    </div>

</div>
